@import url("global.css");

.hero-firaisankina {
  background-color: #b71c1c;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.details {
  padding: 50px 20px;
  text-align: center;
  color: #333;
}

.details h2 {
  color: #b71c1c;
}
