@import url("global.css");

.hero {
  background: url('../../public/images/hero-background.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  color: #fff;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 20px;
  border-bottom: #00000020;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10283650;
}

.hero-content {
  padding: 3rem;
  animation: slideIn 2s ease forwards;
  opacity: 0;
}

.hero-content h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.5rem;
}

.cta-btn {
  display: block;
  width: fit-content;
  margin-top: 3rem;
  margin-inline: auto;
  padding: .75rem 1.25rem;
  background-color: #009705;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #045b20;
}

.values {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.values h2 {
  font-size: 2rem;
}

.value-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 3rem;
}

.value-card {
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
  width: 18rem;
  border: 1px solid #102836;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1.5s ease;
}

.value-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.gallery {
  text-align: center;
  margin-bottom: 6rem;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.image-carousel {
  display: flex;
  justify-content: space-around;
  gap: .25rem;
  margin-inline: 4rem;
}

.image-carousel img {
  width: 20rem;
  aspect-ratio: 4/3;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-carousel img:hover {
  transform: scale(1.1);
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}